.icon-cell {
    text-align: center;
  }
  
.action-cell {
margin-right: 8px;
}

.container {
  position: relative;
  min-height: 100px; /* Hauteur minimale ou fixe du tableau */
}

.fab-button {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 35%; /* La hauteur du bouton plus 20% de l'espace supplémentaire */
  right: 5%;
  z-index: 100;
  background-color: palevioletred; /* Couleur de fond saumon */
  color: white; /* Couleur du texte, choisissez une couleur qui contraste bien avec le saumon */
}
