.icon-cell {
    text-align: center;
  }
  
.action-cell {
margin-right: 8px;
}

.container {
  position: relative;
  min-height: 100px; /* Hauteur minimale ou fixe du tableau */
}

.fab-button {
  position: absolute;
  top: 10px;
  right: 10px;
}